*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body{
  background-color: rgba(0, 0, 0, 0.938);
}

.navbar-light .navbar-brand {
  color: white;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgb(19,20,25)!important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.btn-outline-success {
  color: #198754;
  border-color: #198754;
}

.nav-link:hover{
  color: #05A0A0 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 5rem;
  padding-left: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0.4;
  align-items: center;
}

.Return-container{
  margin-top: 90px;
  color: white;
}